<div class="row">
  <div class="column eight">
    <label for="dayLegend">Type</label>
    <select name="dayLegend" id="dayLegend">
      <option value="DayLegend" selected>DayLegend</option>
    </select>
  </div>
</div>
<div class="row inline">
  <div class="field">
    <label for="start" class="label">Start Date</label>
    <input
      soho-datepicker
      id="start"
      name="start"
      dateFormat="MM/dd/yyyy"
      mode="start"
      placeholder="MM/dd/yyyy"
      [(ngModel)]="model.start"
      [disable]="disableOptions"
    />
  </div>
  <div class="field">
    <label for="end" class="label">End Date</label>
    <input
      soho-datepicker
      id="end"
      name="end"
      dateFormat="MM/dd/yyyy"
      mode="end"
      placeholder="MM/dd/yyyy"
      [(ngModel)]="model.end"
      [disable]="disableOptions"
    />
  </div>
</div>
<div class="row inline space">
  <div class="field">
    <div class="switch">
      <input
        soho-checkbox
        type="checkbox"
        [switch]="true"
        [attr.id]="checkBoxIds[0]"
        name="switch1"
        [(ngModel)]="model.checkBox1Value"
      />
      <label soho-label [attr.for]="checkBoxIds[0]" [forCheckBox]="true"
        >Monday</label
      >
    </div>
  </div>
  <div class="field">
    <div class="switch">
      <input
        soho-checkbox
        type="checkbox"
        [switch]="true"
        [attr.id]="checkBoxIds[1]"
        name="switch2"
        [(ngModel)]="model.checkBox2Value"
      />
      <label soho-label [attr.for]="checkBoxIds[1]" [forCheckBox]="true"
        >Tuesday</label
      >
    </div>
  </div>
  <div class="field">
    <div class="switch">
      <input
        soho-checkbox
        type="checkbox"
        [switch]="true"
        [attr.id]="checkBoxIds[2]"
        name="switch3"
        [(ngModel)]="model.checkBox3Value"
      />
      <label soho-label [attr.for]="checkBoxIds[2]" [forCheckBox]="true"
        >Wednesday</label
      >
    </div>
  </div>
  <div class="field">
    <div class="switch">
      <input
        soho-checkbox
        type="checkbox"
        [switch]="true"
        [attr.id]="checkBoxIds[3]"
        name="switch4"
        [(ngModel)]="model.checkBox4Value"
      />
      <label soho-label [attr.for]="checkBoxIds[3]" [forCheckBox]="true"
        >Thursday</label
      >
    </div>
  </div>
  <div class="field">
    <div class="switch">
      <input
        soho-checkbox
        type="checkbox"
        [switch]="true"
        [attr.id]="checkBoxIds[4]"
        name="switch5"
        [(ngModel)]="model.checkBox5Value"
      />
      <label soho-label [attr.for]="checkBoxIds[4]" [forCheckBox]="true"
        >Friday</label
      >
    </div>
  </div>
  <div class="field">
    <div class="switch">
      <input
        soho-checkbox
        type="checkbox"
        [switch]="true"
        [attr.id]="checkBoxIds[5]"
        name="switch6"
        [(ngModel)]="model.checkBox6Value"
      />
      <label soho-label [attr.for]="checkBoxIds[5]" [forCheckBox]="true"
        >Saturday</label
      >
    </div>
  </div>
  <div class="field">
    <div class="switch">
      <input
        soho-checkbox
        type="checkbox"
        [switch]="true"
        [attr.id]="checkBoxIds[6]"
        name="switch7"
        [(ngModel)]="model.checkBox7Value"
      />
      <label soho-label [attr.for]="checkBoxIds[6]" [forCheckBox]="true"
        >Sunday</label
      >
    </div>
  </div>
</div>
<div class="row to-right">
  <button
    class="btn-primary"
    type="button"
    id="primary-action-two"
    (click)="onSave()"
  >
    Save
  </button>
</div>
