<app-filter></app-filter>
<div
  soho-calendar
  [month]="initialMonth"
  [year]="initialYear"
  [showViewChanger]="showViewChanger"
  [eventTypes]="eventTypes"
  [events]="events"
  [eventTooltip]="eventTooltip"
  [iconTooltip]="iconTooltip"
  [disable]="disable"
  [modalTemplate]="'modal'"
>
  <div soho-calendar-monthview></div>
  <div soho-calendar-week-view></div>
</div>
<div #modal id="modal" class="modal">
  <h1 style="text-align: center; padding: 20px; font-weight: bold">
    DayLegend
  </h1>
  <h4 style="text-align: center; padding: 20px">Add a new day legend</h4>
  <button
    style="width: 48%"
    class="btn-danger"
    type="button"
    id="primary-action-one"
  >
    Cancel
  </button>
  <button
    style="width: 48%"
    class="btn-primary"
    type="button"
    id="primary-action-two"
  >
    Submit
  </button>
</div>
